{% extends 'base_0.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
{% endblock extra_head %}


{% block content %}
  <h1>partsmaster List</h1>
  {% if partsmaster_list %}
  <ul>
    {% for partsmaster in partsmaster_list %}
      <li>
        <a href="{{ partsmaster.get_absolute_url }}">{{ partsmaster.item_name }}</a> ({{partsmaster.part_no}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no partsmasters in the stores.</p>
  {% endif %} 
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}