#id_category { width:400px; }
#id_subcategory { width:400px;  }
#id_part_no { width:400px;   }
#id_item_no { width:400px;   }
#id_item_name { width:400px;  }
#id_manufacturer { width:400px; }
#id_quantity { width:400px; }
#id_units { width:400px; }
#id_rate { width:400px; }
