{% load static %}
<nav class="navbar navbar-expand-md fixed-top nav-link ">
    <!-- <a class="navbar-brand" href="/">AIS Stores 2.0</a> -->
    
    <div id="navbar-logo">
      <a href=""><img src="{% static 'img/logo-sq2.png' %}"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}


        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Parts Master
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/stocks/add_items/">Add Item</a>
            <a class="dropdown-item" href="{% url 'parts_create' %}">Add Item2</a>
            <a class="dropdown-item" href="/indent/">Create Indent</a>
            <a class="dropdown-item" href="/stocks/list_items/">List Items</a>
            <a class="dropdown-item" href="{% url 'parts' %}">List Parts</a>
            
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </div>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
       {% if request.user.is_authenticated %}
         <li><a href="{% url 'logout' %}"><button class="btn btn-primary">{{ user }} | Logout</button></a></li>
       {% else %}
         <li><a href="{% url 'user_login' %}">Login</a></li>
       {% endif %}
       
   </ul>
    </div>
  </nav>
